In [62]:
import pandas as pd
from pathlib import Path

In [64]:
file = Path("Resources/budget_data.csv")

In [66]:
original_file_df = pd.read_csv(file)
original_file_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [68]:
original_file_df["Date"] = pd.to_datetime(original_file_df["Date"], format = "%b-%y")

In [103]:
Total_months = original_file_df["Date"].dt.to_period("M").nunique()

In [72]:
print(f"Total Months: {Total_months}")

Total Months: 86

In [74]:
Net_value = original_file_df["Profit/Losses"].sum()
print(f"Net value: {Net_value}")

Net value: 22564198

In [76]:
Total_ProfitLosses = len(original_file_df["Profit/Losses"])

In [78]:
Average = Net_value/Total_ProfitLosses
print(f"Average: {Average}")

Average: 262374.3953488372

In [80]:
for value in original_file_df["Profit/Losses"]:
    original_file_df["Change"] = original_file_df["Profit/Losses"].diff()
    Average_Change = original_file_df["Change"].mean()
print(f"Average change: {Average_Change}")

Average change: -8311.105882352942

In [116]:
for value in original_file_df["Profit/Losses"]:
    Max_value = original_file_df["Change"].max()
    Min_value = original_file_df["Change"].min()
print(f"Greatest increase in profits : {Max_value}")
print(f"Greatest decrease in profits : {Min_value}")

Greatest increase in profits : 1862002.0
Greatest decrease in profits : -1825558.0

In [107]:
output_file = "Financial_Analysis.txt"
with open(output_file, "w") as file:
    file.write(f"Total Months: {Total_months}")
    file.write(f"Net value: {Net_value}")
    file.write(f"Average change: {Average_Change}")
    file.write(f"Greatest increase in profits : {Max_value}")
    file.write(f"Greatest decrease in profits : {Min_value}")

In [125]:
print(" Financial Analysis")
print("-------------------")
print(f"Total Months: {Total_months}")
print(f"Total: {Net_value}")
print(f"Average change: {Average_Change}")
print(f"Greatest increase in profits : {Max_value}")
print(f"Greatest decrease in profits : {Min_value}")

 Financial Analysis
-------------------
Total Months: 86
Total: 22564198
Average change: -8311.105882352942
Greatest increase in profits : 1862002.0
Greatest decrease in profits : -1825558.0